body{
    font-family: 'Raleway', sans-serif;
}

@media only screen and (min-width: 426px) {
    body {
        font-size: 1.0558rem;
    }
}

@media only screen and (max-width: 425px) {
    body {
        font-size: 0.915rem;
    }

    header {
        text-align: center;
    }

    #card-1 {
        font-size: 0.8rem;
    }
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#form-holder {
    max-width: 25rem;
}

#card-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    height: 2.5rem;
    max-width: 23rem;
} 

#nav-div {
    max-width: 25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 6rem;
}

footer > div > a {
    color: black;
    font-weight: 600;
}

footer > div > a:hover{
    color: black;
    font-weight: 600;
    text-decoration: none;
}
